//marisarri.pkgs.visualstudio.com/_packaging/MariSarri/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//marisarri.pkgs.visualstudio.com/_packaging/MariSarri/npm/registry/:_password=NW94WUt2SXBXbFZONTZUWU9FWGE1dUlEcWlPRnFBcHJzQUllRGI0UVJuZ0lrWWFUcWlkSEpRUUo5OUNGQUNBQUFBQUFBQUFBQUFBU0FaRE8xblBt
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//marisarri.pkgs.visualstudio.com/_packaging/MariSarri/npm/registry/:email=not-used@example.com

registry=https://registry.npmjs.org/
@pos-bank:registry=https://marisarri.pkgs.visualstudio.com/_packaging/MariSarri/npm/registry/
registry=https://marisarri.pkgs.visualstudio.com/_packaging/MariSarri/npm/registry/